<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/css/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script type="text/javascript" src="/js/mootools-core-1.4.5-full-nocompat.js"></script>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script src="/js/jquery.mobile-1.1.0.min.js"></script>
        <script type="text/javascript" src="/js/poker.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>phpoker - Planning Poker</title>
    </head>
    <body>

        <!-- Connection screen (join) -->
        <div id="connect" data-role="page" data-theme="a">

            <div id="header" data-role="header" role="banner">
                <h2 role="heading">Planning Poker</h2>
            </div>

            <div data-role="content" role="main">
                <label for="username" for="username">Username</label>
                <input type="text" id="username" />
                <a href="#" id="join" data-role="button" data-theme="a">Join</a>
            </div>
        </div>

        <!-- Show board selection -->
        <div id="boards" data-role="page" data-theme="a">

            <div id="header" data-role="header" role="banner">
                <a href="#" class="leave-button" data-role="button" data-theme="a">Leave</a>
                <h2 role="heading">Planning Poker</h2>
            </div>

            <div data-role="content" role="main">
                <h2>Story boards</h2>
                <p>Select a board to join:</p>
                <ul id="board-list" data-role="listview" data-inset="true">
                </ul>
            </div>
        </div>

        <!-- Show current story to be estimated -->
        <div id="current-story" data-role="page" data-theme="a">

            <div id="header" data-role="header" role="banner">
                <a href="#" class="leave-button" data-role="button" data-theme="a">Leave</a>
                <h2 id="board-name" role="heading">Planning Poker</h2>
            </div>

            <div data-role="content" role="main">

                <h2 id="board-name"></h2>

                <p id="story-position">Story <strong class="index"></strong> of <strong class="count"></strong></p>

                <div data-role="collapsible-set">
                    <div data-role="collapsible">
                        <h3 id="story-name"></h3>
                        <p id="story-description"></p>
                    </div>
                </div>

                <p>Select estimate:</p>

                <ul id="estimate-list" data-role="listview" data-inset="true">
                    <li><a href="#" data-estimate="0.25">0.25 day</a>
                    <li><a href="#" data-estimate="0.50">0.5 day</a>
                    <li><a href="#" data-estimate="0.75">0.75 day</a>
                    <li><a href="#" data-estimate="1.00">1 day</a>
                    <li><a href="#" data-estimate="2.00">2 days</a>
                    <li><a href="#" data-estimate="5.00">5 days</a>
                </ul>

                <p>Members</p>

                <ul class="board-member-list" data-role="listview" data-inset="true">
                </ul>
            </div>
        </div>
    </body>
</html>